
<div class="container">

  <!-- TAsk 6-->
  <div class="row">
    <div class="col-md-6">
      <h5 class="text-center mt-4">Task 6</h5>
      <form #taskForm="ngForm" class="mt-4" (ngSubmit)="taskSubmit(taskForm.value)">
        <div class="form-group">
            <label for="username">Name</label>
            <input type="text" name="name" class="form-control" ngModel required #name="ngModel" placeholder="Name">
            <span *ngIf = "name.invalid && name.touched" class="error">Field is required</span>
        </div>
        
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" #email="ngModel" ngModel required >
            <span *ngIf = "email.invalid && email.touched" class="error">Field is required</span>
        </div>
    
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" name="age" class="form-control" #age="ngModel" ngModel required >
          <span *ngIf = "age.invalid && age.touched" class="error">Field is required</span>
        </div>
    
        <div class="form-group">
          <label for="dob">Dob</label>
          <input type="text" name="dob" class="form-control" #dob="ngModel" ngModel required >
          <span *ngIf = "dob.invalid && dob.touched" class="error">Field is required</span>
        </div>
    
        <div class="form-group">
          <label for="address">Address</label>
          <textarea row="3" col="2" name="address" class="form-control" #address="ngModel" ngModel required ></textarea>
          <span *ngIf = "address.invalid && address.touched" class="error">Field is required</span>
        </div>
    
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" #password="ngModel" ngModel required >
          <span *ngIf = "password.invalid && password.touched" class="error">Field is required</span>
        </div>
    
        <div class="form-group">
          <label for="profile_picture">Profile Pic</label>
          <input type="file" name="profile_picture" (change) = "uploadImage($event)" class="form-control" #profile_picture="ngModel" ngModel required >
          <span *ngIf = "profile_picture.invalid && profile_picture.touched" class="error">Field is required</span>
        </div>
    
        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" name="role" #role="ngModel" ngModel required>
              <option>Admin</option>
              <option>Non Admin</option>
            </select>
            <span *ngIf = "role.invalid && role.touched" class="error">Field is required</span>
        </div>
    
        <div class="form-group">
          <button type="submit" [disabled]="!taskForm.valid" class="btn btn-primary">Submit</button>
        </div>
      </form>

    </div>
  </div>


  <!-- TAsk 7-->
  <div class="row">
    <div class="col-md-8">
      <h5 class="text-center mt-4">Task 7</h5>
    
      <table class="table table-bordered">
        <thead class="thead-dark">
          <th>Main Propertry Type</th>
          <th>Sub-type Mapping</th>
        </thead>
        <tbody>
          
          <tr *ngFor="let item of customData | keyvalue">
            <th>Main Type: {{item.key}}</th>
            <th>
              <tr *ngFor="let list of item.value | keyvalue">
                <td>
                  <tr *ngFor="let obj of list.value | keyvalue">
                    <td>{{obj.key}} : {{obj.value}}</td>
                  </tr>
                </td>
              </tr>
            </th>
          </tr>

        
        </tbody>
      </table>

    </div>
  </div>

  
  <!-- End -->

  <!-- Task 8-->

  <div class="row">
    <div class="col-md-8">
      <h5 class="text-center mt-4">Task 8</h5>
    </div>
  </div>

  <div class="row mb-4" *ngFor="let data of sectionData; let jason=index"> 
    <div class="col-md-8 custom-section">
      <div class="section-name">{{data.section_name}}</div> 
      <bs-sortable [(ngModel)]="this['datas' + jason]" itemClass="sortable-item"></bs-sortable>  
    </div>
    
  </div>

  

</div>

<ngx-spinner></ngx-spinner>