.row.bordclass {
    border: solid 1px #ddd;
}
.table td {
    border: none;
    padding: 0;
}
.table th {
    font-weight: 100;
}
input.ng-touched, textarea.ng-touched{
    border-left: solid 5px red;
}

input.ng-valid, textarea.ng-valid{
    border-left: solid 5px green;
}

div#addtodo {
    padding: 2rem 2rem;
}
.error{
    color:red;
}
.section-name {
    background: #ddd;
    padding: 8px 5px;
    border-radius: 4px
}