/* You can add global styles to this file, and also import other style files */
.col-md-8.custom-section {
    border: solid 1px #ddd;
    padding: 7px 5px;
}
bs-sortable div div {
    border: solid 1px #ddd;
    padding: 5px;
    margin: 10px 0;
    border-radius: 4px;
}


/* .sortable-item {
    padding: 6px 12px;
    margin: 4px;
    font-size: 14px;
    line-height: 1.4em;
    text-align: center;
    cursor: grab;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #adadad;
    display: inline-block;
} */